
    h5 {
        text-align: center;
        color: black;
      }
  
      body {
        background: url('../images/whiteback.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      hr {
        font-style: bold;
        color: black;
  
  
      }
  
      .container {
        margin-top: 50px;
      }
  
      select {
        width: 200px;
        background: lightblue;
      }
   