
button {
  height: 100px;
  width: 200px;
}
body{
  background-image: url('../images/whiteback.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
