{% extends 'base.html' %}
{% block content%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/face.css' %}">
    {%endblock %}
    <script type="text/javascript">
        function conf() {
            var con = confirm("Do you want to submit for sure?");
        }
    </script>
</head>

<body>
    <div class="container">

        <div class="row">


            <div class="col">
                <h5>Modern Approach of security. Artificial Intergence</h5>


                <h6 style="color: bisque;margin-left: 200px;">Face recognation</h2> <br><br>
                    <div style="border-style:groove;width: 770px;height: 320px;padding:5px;margin-left: 170px;">
                        <button type="menu"style="width: 50px; height: 50px;" class="face"></button></a>
                        <form action="" method="post">
                            {%csrf_token%}
    <div class="form-group">

        {% bootstrap_form form layout="horizontal" %}
    </div>
    <button class="btn btn-info" type="submit" onclick="conf()">Save</button>

    </form>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>

    </body>

</html>
{%endblock%}