{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Registration</title>

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/facere.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
  {%endblock %}
  <script type="text/javascript">
    function conf() {
      var con = confirm("Do you want to submit for sure?");
    }

  //   function checkTALength(event) {
  //   var text = $(this).val();
  //   if(text.length > 21) {
  //     $(this).addClass('overlimit');
  //   } else {
  //     $(this).removeClass('overlimit');
  //   }
  // }
  // function checkSubmit(event) {
  //   if($('.overlimit', this).length > 0) { return false; }
  // }

  // $(document).ready(function() {   
  //   $('textarea').change(checkTALength);
  //   $('textarea').keyup(checkTALength);
  //   $('form').submit(checkSubmit);
  // }); 
  </script>

</head>


<body>
  <div class="container">

    <h5>Modern Approach of security(Artificial Intergence)</h5><br><br>
    


    <h6 style="color: rgb(7, 7, 7);margin-left: 200px;">Face recognation</h2> 
      <div class="card"
        style="margin-left:250px;border-radius:3%;background-color:rgb(1, 27, 56);width: 600px; padding-left: 40px; padding-right: 40px;padding-top: 20px;padding-bottom: 20px;">
        <a href="">
          <button type="menu"
            style="background-image: url('https://cdn4.vectorstock.com/i/1000x1000/80/88/person-gray-photo-placeholder-man-vector-22808088.jpg');background-size:cover;width:  70px;height: 70px;float: right;"></button>
        <form action="{%url 'faceRecognation'%}" method="post" id="IdNumber">
          {%csrf_token%}
          <div class="form-group">
            {% bootstrap_form face_form layout="horizontal" %}
          </div>
          <button class="btn btn-info" type="submit" data-toggle="modal" data-target="#ModalLoginForm">Save</button>
         
          <!-- Modal HTML Markup -->

          <div id="ModalLoginForm" class="modal fade">

            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
        </form>
        <h1>Visitor's Equipment</h1>

        <form role="form" method="POST" action="{%url 'ScanEquip'%}">
          <input type="hidden" name="_token" value="">
          <div class="form-group">
            {%csrf_token%}
            <div class="form-group">
              {% bootstrap_form Equipment_form layout="horizontal" %}
              <button class="btn btn-info" type="submit" data-toggle="modal" data-target="#ModalLoginForm"
                style="margin-right: 20px;" onclick="conf()">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
  </div>
  
 
</body>

</html>
{%endblock%}