{%extends "base.html"%}
{% load static %}
{% load bootstrap3%}
{% block content %}
{{ block.super}}

<!Doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body style="margin-top:125px">
  {%for image in image_posts%}
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-primary">Primary</button>
  {%endfor%}
</body>
</html>
{%endblock%}
