{% extends 'base.html' %}
{% block content%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/registorr.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/mmm.png'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {%endblock %}
  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="smart-wrap">
      <div class="smart-forms smart-container wrap-2">
        <div class="form-header header-primary">
          <div style="float:right; margin-top:-20px;">
            {% if user.is_authenticated%}
            <ul style="list-style: none; ">
              <h4> <a href="/logout" style="color: rgb(2, 16, 27);"> Logout</a></h4>
              </li>
            </ul>
            </li>
            </ul>
            {% else %}
            <li>
              <a class="btn btn-default" href="/accounts/login">Login</a>
            </li>
            </ul>
            {% endif%}
          </div><br>
          <br>
          <div style="background-color: rgb(78, 167, 202); padding-top: 3px;padding-bottom: 3px;">
            <hr>
            <h3 style="color: white;"><i><img src="../../static/images/mmm.png" style="width: 50px;height: 50px;">WELCOME TO E-VISITORS SYSTEM ADMIN DASHBOARD</i></h4>
              <hr>
          </div>
          <div class="row">
            <div class="col"
              style="height: 390px; background-color: rgb(81, 147, 173);border:23px;margin-left: 15px;width: 71px;margin-right: 69px;">
              <br>
              <h8 style=" color: white;"> E.V.S</h8>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Users</h9><br>
              <center>
                <hr style="width: 20px; background-color: white;">
              </center>
              <h9 style="color: white;">Visitors</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Report</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Users</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Visitors</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Report</h9><br>
            </div>
            <div class="col">
              <br>
              <h5 style="color: rgb(7, 57, 90);">SYSTEM</h5>
              <hr>
              <br>
              <a href="{%url 'Attend'%}"><button type="button" class="btn btn-primary"
                  style="font-size: 15px;background-color: rgb(233, 236, 236);color: rgb(8, 8, 8);height: 70px;width: 200px;">View VISITORS</button></a><br><br><br><br><br>
              <a href="{%url 'fingerPrint'%}"><button type="button" class="btn btn-primary"
                  style="background-color: rgb(233, 236, 236);color: rgb(8, 8, 8);height: 70px;width: 200px;">USERS</button>
            </div>
            <div class="col">
              <br>
              <h5 style="color: rgb(7, 57, 90);">ADMINSTRATOR</h5>
              <hr>
              <br>
              <a href="{%url 'fingerPrint'%}"><button type="button" class="btn btn-primary"
                  style="background-color: rgb(233, 236, 236);color: rgb(8, 8, 8);height: 70px;width: 200px;">ADMINISTRATOR</button></a><br><br><br><br><br>
              <a href="{%url 'fingerPrint'%}"><button type="button" class="btn btn-primary"
                  style="background-color: rgb(233, 236, 236);color: rgb(8, 8, 8);height: 70px;width: 200px;">REPORTS</button>
            </div>
            <br>
            <br>
            <div class=" col mobile-container">

              <!-- Top Navigation Menu -->
              <div class="topnav" style="margin-top:  23px;margin-left: 30px;">
                <a href="" class="active" style="text-decoration: none;color: #000;"> SETTINGS</a>
                <div id="myLinks" style="display: none;">
                  <a href="#news">Delete User</a><br>
                  <a href="#contact">Add User</a><br>
                  <a href="#about">Change password</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
              </div>

              <hr>
              <br>

            </div>
            <div class="col"
              style="height: 390px;background-color: rgb(54, 126, 155);margin-right: 15px;margin-left: 100px;">
              <br>
              <h8 style=" color: white;"> E.V.S</h8>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Users</h9><br>
              <center>
                <hr style="width: 20px; background-color: white;">
              </center>
              <h9 style="color: white;">Visitors</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Report</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Users</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Visitors</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Report</h9><br>
            </div>
          </div>
        </div>
</body>

</html>
{%endblock%}