{% extends 'base.html' %}
{% block content%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/registorr.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
  {%endblock %}
</head>

<body>
  <div class="container">
    <div class="smart-wrap">
      <div class="smart-forms smart-container wrap-2">
        <div class="form-header header-primary">
          <div style="float:right; margin-top:-20px;">
            {% if user.is_authenticated%}
            <ul style="list-style: none; ">
              <h4> <a href="/logout" style="color: rgb(2, 16, 27);"> Logout</a></h4>
              </li>
            </ul>
            </li>
            </ul>
            {% else %}
            <li>
              <a class="btn btn-default" href="/accounts/login">Login</a>
            </li>
            </ul>
            {% endif%}
          </div><br>
          <br>
          <div style="background-color: rgb(3, 50, 68); padding-top: 3px;padding-bottom: 3px;">
            <hr>
            <h3 style="color: rgb(218, 214, 214);">Welcome to Admin Dashboard</h4>
              <hr>
          </div>
          <div class="row">
            <div class="col"
              style="height: 390px; background-color: rgb(5, 84, 116);border:23px;margin-left: 15px;width: 71px;margin-right: 69px;">
              <br>
              <h8 style="color: white;"> E.V.S</h8>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Users</h9><br>
              <center>
                <hr style="width: 20px; background-color: white;">
              </center>
              <h9 style="color: white;">Visitors</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Report</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Users</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Visitors</h9><br>
              <center>
                <hr style="width: 20px;background-color: white;">
              </center>
              <h9 style="color: white;">Report</h9><br>
            </div>
            <div class="col">
              <br>
              <h5 style="color: rgb(7, 57, 90);">SYSTEM</h5>
              <hr>
              <br>
              <a href="{%url 'Attend'%}"> <button type="button" class="btn btn-default"
                  style="width: 250px;height: 200px;color: white; background-color: rgb(5, 152, 197);">VISITORS</button></a>
            </div>
            <div class="col">
              <br>
              <h5 style="color: rgb(7, 57, 90);">ADMINSTRATOR</h5>
              <hr>
              <br>
              <a href="{%url 'fingerPrint'%}"><button type="button" class="btn btn-primary"
                  style="width: 250px;height: 200px;background-color: rgb(4, 121, 156);color: rgb(248, 244, 244);">USERS</button></a>
            </div>
            <div class="col">
              <br>
              <h5 style="color: rgb(7, 57, 90);">Admin settings </h5>
              <div style="float: right;">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                  aria-expanded="false"></a>
                <ul class="dropdown-menu" role="menu">
                  <li style=" padding-left:5px">
                    <p style="color: rgb(1, 19, 19);">Delete User</p>
                    <p style="color: rgb(1, 19, 19);">Add User</p>
                    <p style="color: rgb(1, 19, 19);">Change password</p>
                  </li>
                </ul>
                </li>
                </ul>
              </div>
              <hr>
              <br>
              <a href=""><button type="button" class="btn btn-primary"
                  style="width: 250px;height: 200px;background-color: rgb(6, 83, 114);color: rgb(248, 245, 245);">REPORTS</button></a>
            </div>
            <div class="col" style="height: 390px;background-color: rgb(5, 84, 116);margin-right: 15px;margin-left: 100px;">
            </div>
          </div>
        </div>
</body>
</html>
{%endblock%}