{% extends 'base.html' %}
{% block content%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/registor.css' %}">
  {%endblock %}
</head>

<body>
  <div class="container">
    <div class="smart-wrap">
      <div class="smart-forms smart-container wrap-2">
        <div class="form-header header-primary">
          <div style="float:right; margin-top:-20px;margin-right:200px">
            {% if user.is_authenticated%}
            <ul style="list-style: none; background-color: bisque;">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                  aria-expanded="false">Manage account<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="background-color: bisque; border-radius: 20%;">

                  <li style=" padding-left:5px">
                    <a href="{%url 'viewReport'%}">  View Report</a>
                  </li>
                  <li style=" padding-left:5px">
                    <a href="/logout">   Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class="btn btn-default" href="/accounts/login">Login</a>

            </li>
            </ul>
            {% endif%}
          </div><br>
          <br>
          <h4><i class="fa fa-pencil-square"></i>E-VISITORS EQUIPMENTS REGISTRATION FORM</h4>
          <!-- end .form-header section --><br>
          <div style="border-style:groove;background-color:white;padding-top: 10px;padding-left:2px;padding-right: 10px;width: 800px;margin-left: 200px;">

          <div class="container">

            <form mothod="POST" style=" margin-left:300px">
              <p>{{add_visitor.indanga}}</p>
              {%csrf_token%}
              {{form}}
              EQUIP.NUMBER&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="fname"
                name="firstname" placeholder="Equip. number.."><button 
                type="reset" class="c">Reset</button>
              <button style="color: blue;" class="b" type="submit">Save</button>
              <br><br>
              PRODUCT NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lname"
                name="lastname" placeholder="product name.."><br><br>
              EQUIP.ROOM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
                type="text" id="lname" name="lastname" placeholder="Equip . room.."><br><br>
              PRODUCT NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="lname" name="lastname"
                placeholder="Product Name.."><br><br>
              EQUIPMENT ID/CODE <input type="text" id="lname" name="lastname" placeholder="Equip ID/code.."><br><br>
              EQUIP.LOCATION &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lname"
                name="lastname" placeholder="Equip.location.."><br><br>
            </form>
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{%endblock%}