{% extends 'base.html' %}
{% block content%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Registration</title>
  
    
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/RFID.css' %}">
<link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
{%endblock %}
<script type="text/javascript">
  function conf() {
    var con = confirm("Do you want to submit for sure?");
  }
//   function checkTALength(event) {
//   var text = $(this).val();
//   if(text.length > 21) {
//     $(this).addClass('overlimit');
//   } else {
//     $(this).removeClass('overlimit');
//   }
// }
// function checkSubmit(event) {
//   if($('.overlimit', this).length > 0) { return false; }
// }

// $(document).ready(function() {   
//   $('textarea').change(checkTALength);
//   $('textarea').keyup(checkTALength);
//   $('form').submit(checkSubmit);
// }); 
</script>
</head>

<body>
  <div class="container">
    <p style="color: white;margin-left: 300px;"> RFID SCANNER</p>
    <div class="card"
      style="margin-left:250px;border-radius:20%;width: 600px; padding-left: 40px; padding-right: 40px;padding-top: 20px;padding-bottom: 20px;margin-right: 300px;">
      <form method="" action="">
        <button type="button" style="width: 40;height: 40;"><img
            src="https://cdn.mikroe.com/knowlegebase/uploads/2016/11/04175029/rfid.jpg"
            style="height: 30px; width: 40px;">
        </button></a><br><br>
        {%csrf_token%}
        <div class="form-group">

          {% bootstrap_form form layout="horizontal" %}
          <button type="reset" class="btn btn-primary">Reset</button>
          <button style="color: blue;" class="btn btn-info" type="submit">Save</button>
      </form>
    </div>
  </div>
  </div>
</body>

</html>
{%endblock%}