{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Registration</title>
  <style>
    h5 {
      text-align: left;
      color: black;
    }

    body {
      background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfQiqlAEdd9W8ZixvOgobPFf1h_GRp9gXvbhD8fGuepZEVmUH_');
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }

    hr {
      font-style: bold;
      color: black;


    }

    .container {
      margin-top: 50px;
    }

    select {
      width: 200px;
      background: lightblue;
    }
  </style>
</head>

<body>
  <div class="container">
    <div style="border-style:groove;padding-top: 10px;padding-left: 5px;width: 900px; height: 400px;">

      <div class="row">


        <div class="col">

          <form>

            Scan your Card: <input type="text" name="Id scan" style="width:369px">
            <a href="{% url 'borcodeRead'%}"><button type="button" style="width: 40;height: 40;"><img
                  src="https://cdn.mikroe.com/knowlegebase/uploads/2016/11/04175029/rfid.jpg"
                  style="height: 30px; width: 40px;">
              </button></a>
          </form>

          <br>
          <br>
          <br>

          <p>Firt Name:</p>
          <p>Last Name:</p>
          <p>Gender: </p>
          <p>Time in: </p>
          <p>Time out:</p>
        </div>
        &nbsp;&nbsp;
        <div class="col">
          <br>
          <br>
          <form>
            Your property: <select style="width:400px">
              <option value="volvo">Item 1</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select><br><br>
            Scan Property: <input type="number" name="Id scan" style="width:400px"><br><br><br>
            <p>Property Name:</p>
            <p>Code:</p>
            <br>
            <br>
            <br>
            <button type="button" name="save">Save</button>
          </form>
        </div>
      </div>
</body>

</html>
{%endblock%}