{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if visitors%}
      <h2>Found {{ visitors }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 visitors for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if visitors %}
    {% for avisitor in visitors %}
    <table>

        <thead>
          <tr>
            <th scope="col">Visitor Identifications</th>
            <th scope="col">Entry Date</th>
            <th scope="col">Exit Date</th>
            <th scope="col">About Equipments</th>
            <th scope="col">view</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <tr>
              <td>{{repos.Id_number}},{{repos.First_name}}{{repos.Last_name}}, {{repos.place_Of_Isue}},
                {{repos.property}}</td>
              <td>{{repos.property_code}}</td>
              <td>{{repos.Institution_name}},{{repos.date}}</td>
              
            <td scope="col"><button type="reset" class="btn btn-primary" style="font-size: 12px;width: 100px;"> View Details</button><br><br>
              
          </tr>
         
        </tbody>
      </table>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}