{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">

    {% if visitors %}
    <h2>{{message}}</h2>
    {% else %}
   <h2 style="margin-left: 100px;"><strong style="color:green"> {{message}}</u></strong></h2>

    {% endif %}

    {% for visitor in visitors%}
    {%if visitors%}
    <table>

      <thead>
        <tr>
          <th scope="col">Visitor Identifications</th>
          <th scope="col">Property Details</th>
          <th scope="col">Date</th>
          <th scope="col">view</th>
        </tr>
      </thead>
      <tbody>
        {%for repos in viewReport%}
        <tr>
          <td>{{repos.Id_number}},{{repos.First_name}}{{repos.Last_name}}, {{repos.place_Of_Isue}}
          </td>
          <td> {{repos.Institution_name}},{{repos.property}},{{repos.property_code}}</td>
          <td>{{repos.date}}</td>
          <td><button type="menu" class="btn btn-primary">Details</button></td>
          {%endfor%}
      </tbody>
    </table>

    {% endif %}
    {%endfor%}
  </div>
</div>
{% endblock %}