{% extends "base.html"%}
{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load staticfiles %}

<style>
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>View Report</title>



  {% block styles %}
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'css/viewReport.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
  {%endblock %}
</head>

<body>
  <h1 class='text-center'
    style="margin-bottom:5%; margin-top: 5px; color: rgb(3, 3, 3);font-family: 'Playfair Display', serif;" id="text">
    View Report Portal</h1>
  </h1>

  <div class="row" style=" display: flex;">
    <form method="GET" role="search" action="/searchbar/" style="margin-left: 1000px;">
      <strong> Search by ID </strong><input type="search" name="srh" placeholder="Search by ID number"
        style="background:sliva;">
    </form>
    <div class="column" style="width: 150px;">
      <table border="2">
        <thead>

          <tr>

            <th scope="col" style="width: 40px;">#number</th>
            <th scope="col" style="width: 40px;">ID Number</th>
           
         

          </tr>
        </thead>

        <tbody>
          {%for repos in viewReport%}

          <tr>
            <!-- <td><i class="fa fa-id-badge" aria-hidden="true" style="color: green;">{{cou}}</i></td> -->
            <td style="height: 117px;">{{repos.id}}</td>
            <td>{{repos.Id_number}}</td>

 
 

  {%endfor%}

  </tr>

  </tbody>
  </table>
  </div>
  <div class="column" style=" float: left;width: 50%;flex: 50%;" >
    <table border="2">
      <thead>
        <tr>
          <th scope="col" style="width: 40px;">Names</th>
          <th scope="col" style="width: 40px;">Destination</th>
          <th scope="col" style="width: 40px;">Equip.number</th>
          <th scope="col" style="width: 40px;">Equip.Owner</th>
          <th scope="col" style="width: 40px;">Equip.name</th>
          <th scope="col" style="width: 40px;">Phone number</th>
          <th scope="col" style="width: 40px;">Date</th>
          <th scope="col" style="width: 40px;">Details</th>
        </tr>
      <tbody>
        {%for reposi in viewReportE%}
        <tr>
          <!-- <td><i class="fa fa-id-badge" aria-hidden="true" style="color: green;">{{cou}}</i></td> -->

          <td style="height: 117px;"> {{reposi.Names}}</td>
          <td>{{reposi.Destination}}</td>
          <td>{{reposi.EquipNumber}}</td>
          <td>{{reposi.Owner}}</td>
          <td>{{reposi.EquipName}}</td>
          <td>{{reposi.Tel}}</td>
          <td>{{reposi.date}}</td>


          <td><button type="menu" class="btn btn-primary" data-toggle="modal"
              data-target="#ModalLoginForm">Details</button></td>

  </div>
  </div>
  {%endfor%}

  </tbody>
  </table>
</div>
  </div>
</body>

</html>
{%endblock%}