{% extends "base.html"%}
{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load staticfiles %}

<style>
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>View Report</title>
  


  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/viewReport.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
  {%endblock %}
</head>

<body>
  <h1 class='text-center'
    style="margin-bottom:5%;margin-top:3%; color: rgb(219, 223, 235);font-family: 'Playfair Display', serif;" id="text">
    View Report Portal</h1>
  <form style="margin-left:500px" method="GET" role="search" action="{% url 'search' %}">
    <input type="search" name="srh"placeholder="Search by Date">
  </form>
  <div class="row" style="margin-top: 3%; margin-left: 3%">
    <div class="col">
      <h1>Recorded Data</h1>
      <hr>
      <table border="5">
        <thead>
          <tr>
            <th scope="col">Visitor Identifications</th>
            <th scope="col">Property Details</th>
            <th scope="col">view Details</th>
          </tr>
        </thead>
        <tbody>
          {%for repos in viewReport%}
          {%for reposi in viewReportE%}

          <tr>
            <td><strong> ID:</strong> {{repos.Id_number}},<img src="{{repos.face_image.url}}"
                class="img-responsive"><br><strong>FirstName:</strong> {{repos.First_name}}<br><strong> Last
                Name:</strong>{{repos.Last_name}}<br><strong>Place of
                Isue/ID:</strong>{{repos.place_Of_Isue}}<br><strong> Tel: </strong>{{repos.Tel}}<br><strong>Date:</strong>{{repos.date}}</td>

            <td><strong>Equip.N: </strong>{{reposi.EquipNumber}}<br>Equip.Owner: </strong>
              {{reposi.Owner}}<br>Equip.Name:</strong> {{reposi.EquipName}}<br>Owner Tel: </strong>{{reposi.Tel}}<br></strong>{{reposi.date}}</td>
           
              <td><button type="menu" class="btn btn-primary">Details</button></td>
            {%endfor%}
            {%endfor%}
            </tr>
           
        </tbody>
      </table>
    </div>
</body>
</html>
{%endblock%}