{% extends "base.html"%}
{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load staticfiles %}

<style>
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>View Report</title>



  {% block styles %}
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'css/viewReport.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
  {%endblock %}
</head>

<body>
  <br>
  <br>
  <h1 class='text-center'
    style="margin-bottom:5%;font:bold;margin-top: 5px; color: rgb(3, 3, 3);font-family: 'Playfair Display', serif;" id="text">
    View Report Portal</h1>
  </h1>
  <div style="float: right; color: rgb(224, 75, 64);">
    <a href="{% url 'RegisterEqipment'%}" style="text-decoration: none;">Home</a>
  </div>

  <div class="row" style=" display: flex;">
    <form method="GET" role="search" action="{%url 'searchbar'%}"style="margin-left: 1000px;">
      <strong> Search by ID </strong><input type="search" name="srh" placeholder="Search by ID number"
        style="background:sliva;">
    </form>
    <div class="column" style="width: 150px;">
      <table border="2">
        <thead>

          <tr>

            <th scope="col" style="width: 50px;background-color:  rgb(47, 47, 49); color: cornsilk;">#</th>
            <th scope="col" style="width: 50px;background-color:  rgb(47, 47, 49); color: cornsilk;">ID Number</th>
            <th scope="col" style="width: 50px;background-color:  rgb(47, 47, 49); color: cornsilk;">Modify</th>

         

          </tr>
        </thead>

        <tbody>
          {%for repos in viewReport%}

          <tr>
            <!-- <td><i class="fa fa-id-badge" aria-hidden="true" style="color: green;">{{cou}}</i></td> -->
            <td style="height: 117px;background-color:  rgb(133, 133, 138);">{{repos.id}}</td>
            <td style="width: 300px;background-color:  rgb(133, 133, 138);">{{repos.ID_card_No}}</td>
            <td style="background-color:  rgb(133, 133, 138); size: 5px;margin-right: 30px;" ><a href="{% url 'visitor_delete' %}">
              <button class=" btn btn-danger" style="width: 20px; height: 10px;">Delete</button> 
          </a></td>
  {%endfor%}

  </tr>

  </tbody>
  </table>
  </div>
  <div class="column" style=" float: left;width: 50%;flex: 50%;" >
    <table border="2">
      <thead>
        <tr>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Names</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Destination</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Equip.number</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Equip.Owner</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Equip.name</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Phone number</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Date</th>
          <th scope="col" style="width: 40px;background-color:  rgb(47, 47, 49); color: cornsilk;">Details</th>
        </tr>
      <tbody>
        {%for reposi in viewReportE%}
        <tr>
          <!-- <td><i class="fa fa-id-badge" aria-hidden="true" style="color: green;">{{cou}}</i></td> -->

          <td style="height: 117px;background-color:  rgb(133, 133, 138);"> {{reposi.Owner}}</td>
          <td style="background-color:  rgb(133, 133, 138);">{{reposi.Destination}}</td>
          <td style="background-color:  rgb(133, 133, 138);">{{reposi.EquipNumber}}</td>
          <td style="background-color:  rgb(133, 133, 138);">{{reposi.Owner}}</td>
          <td style="background-color:  rgb(133, 133, 138);">{{reposi.EquipName}}</td>
          <td style="background-color:  rgb(133, 133, 138);">{{reposi.Tel}}</td>
          <td style="background-color:  rgb(133, 133, 138);">{{reposi.date}}</td>


          <td style=" background-color:  rgb(133, 133, 138);"><button type="menu" class="btn btn-primary" data-toggle="modal"
              data-target="#ModalLoginForm" style="background-color: cornflowerblue;">Details</button></td>
  </div>
  </div>
  {%endfor%}

  </tbody>
  </table>
</div>
  </div>
</body>

</html>
{%endblock%}