{%extends "base.html"%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}

<!Doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    button {
      height: 100px;
      width: 200px;
    }
  </style>
</head>


<body>
  <div class="container" style="margin-top: 15px;margin-left: 10px;">

    <div class="row">
      <div class="col">
        <a href="add_visitor.html"> <button type="button" class="btn btn-primary">ID Scan</button></a>
      </div>
      <div class="col">
      <a href="fingerPrint.html"><button type="button" class="btn btn-primary">FingerPrint</button></a>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">RFID Scan</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">Face Recognition</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Non Id's</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Registration</button>
      </div>
    </div>
  </div>
</body>

</html>
{%endblock%}